<body>
    <section class="home">
      <div class="description">
        <h1 class="title">
          <span class="gradient-text">Start Writing </span>Best Blogs
        </h1>
        <p class="paragraph">
          we believe in the power of words to inspire, educate, and connect people from all walks of life. Whether you're a passionate storyteller, a curious reader, or someone looking for expert insights, our platform is the perfect space to explore diverse topics. From technology and business to health, travel, and lifestyle, we bring you fresh perspectives from writers across the globe
        </p>
        <form id="form" method="GET" action="/" autocomplete="off">
          <input
            type="text"
            id="email-id"
            name="category"
            aria-label="email adress"
            placeholder=""
            required
            value="<%= category || '' %>" 
            oninput="checkEmpty()" />
          <button type="submit" class="btn" aria-label="submit">
            <span>Search</span>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </button>
        </form>
      </div>

      <div class="users-color-container">
        <span class="item" style="--i: 1"></span>
        <img
          class="item"
          src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/274f29ce-0d3f-4ac2-a2aa-f9b7bd188b2a"
          style="--i: 2"
          alt="" />
        <span class="item" style="--i: 3"></span>
        <img
          class="item"
          src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/b8a14493-3d9f-4b9b-b93a-56d0bc7243e9"
          style="--i: 4"
          alt="" />

        <img
          class="item"
          src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/03e51e1e-9750-45a5-b75e-a1e341d4562a"
          style="--i: 10"
          alt="" />
        <span class="item" style="--i: 11"></span>
        <img class="item" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/5eb50f89-3e5a-480e-860c-8d40d3ba9ffe" style="--i: 12" alt="" />
        <span class="item" style="--i: 5"></span>

        <span class="item" style="--i: 9"></span>
        <img class="item" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/86c71a79-2efe-4567-8665-b1e5a1fd9735" style="--i: 8" alt="" />
        <span class="item" style="--i: 7"></span>
        <img class="item" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/97ef9643-5202-41aa-80f0-ceeabccdd099" style="--i: 6" alt="" />
      </div>
    </section>

    <section class="card-container" id="card-container">
      <div class="slider">
       
        <% blogs.forEach(blog => { %>
        <div class="card" data-tilt>
          <div class="content">
            <img src="<%= blog.coverImageURL %>" alt="" />
            <h1><%= blog.title %></h1>
            <p>
              <%= blog.description || "No description available." %>
            </p>
            <button class="btn btn-grad">
              <a href="/blog/<%= blog._id %>" class="btn btn-primary mt-2">Read More</a>
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </button>
          </div>
        </div>
        <% }) %>


       

      <ul class="control" id="custom-control">
        <li>
          <ion-icon name="caret-back-outline"></ion-icon>
        </li>
        <li>
          <ion-icon name="caret-forward-outline"></ion-icon>
        </li>
      </ul>
    </section>
  </body>