<h2>Showing Blogs for <%= category %></h2>

<div class="blog-container">
    <% blogs.forEach(blog => { %>
        <div class="blog-card">
            <img src="<%= blog.image %>" alt="<%= blog.title %>" class="blog-img">
            <h3><%= blog.title %></h3>
            <p><%= blog.content.substring(0, 150) %>...</p>
            <a href="/blog/<%= blog._id %>" class="read-more">Read More</a>
        </div>
    <% }); %>
</div>
